nav {
    background:linear-gradient(45deg, #ffa9f4, #fff7f7, #c7f0f5, #f4a1eb);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    font-weight: bolder;
    border-radius: 0px 0px 50px 50px;
    font-family: "Bungee", sans-serif;
}

body {
    margin: 0;
    font-family: "Alan Sans", sans-serif;
    background:linear-gradient(white 85%, #ffd8fa)
}

.head {
    display: flex;
    margin: 20px;
    align-items: center;
}

.bottom {
    display: flex;
    padding-bottom: 30px;
}

.left {
    width: 40%;
    padding-left: 15%;
}

.left img {
    margin-right: 30px;
}

.right img {
    margin-right: 30px;
}

#box {
    display: flex;
    align-items: center;
}

#topic {
    font-weight: bold;
}